:root {
  --blue: #002C30;
  --red: #D51D4E;
  --white: #FFFAF3;
  --teal: #00484C;
}

body {
	background-color: var(--blue);
}

h1 {
	color: var(--white);
	letter-spacing: 1px;
  font-size: 35px;
  margin-bottom: 0px;
}

h2 {
  color: var(--white);
  letter-spacing: 1px;
  margin-bottom: 0px;
  font-size: 25px;
}

a {
	color: var(--white);
}

p {
	letter-spacing: .2px;
	line-height: 1.4;
	margin-top: 10px;
	color: var(--white);
  font-size: 15px;
  margin-bottom: 0px;
}

img {
  height: 170px;
  width: auto;
}

/*navigation stles begin*/
nav {
  height: 60px;
  width: 100%;
  text-align: left;
}
.bg-body-tertiary {
  background-color: var(--blue) !important;
}

.navbar-brand {
  color: var(--white);
  font-size: 15px;
  font-weight: light;
  line-height: 1.4;
  letter-spacing: .2px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.navbar-brand:hover {
  cursor: default;
}

#nav_style {
  letter-spacing: .2px;
  line-height: 1.4;
  margin-left: 30px;
  margin-top: 25px;
  
}

/*navigation styles end*/

/*font styling begin */

.pt-sans-regular {
  font-family: "PT Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.pt-sans-italic {
  font-family: "PT Sans", serif;
  font-weight: 200;
  font-style: italic;
  font-size: 12px;
  letter-spacing: .2px;
  line-height: 1.4;
}

.inria-sans-regular {
  font-family: "Inria Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", serif;
  font-weight: 700;
  font-style: normal;
}

/*font style end*/

.container-fluid {
  height: 100%;
  width: 100%;
}

.d-flex.justify-content-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child-container {
  border: 1px solid var(--red);
  height: 65%;
  width: 65%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_box {
  padding: 8px 80px;
  
}

.image_box {
  padding: 8px 80px;
}

#portfolio_id {
  height: 350px;
  width: auto;
}

.image_box_2 {
  padding: 8px 80px;
}

.text_box_2 {
  padding: 8px 80px;
}

.pt-sans-regular_2 {
  font-family: "PT Sans", serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 5px;
}

.pt-sans-regular_3 {
  font-family: "PT Sans", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
}

#about_flower_images {
  height: 120%;
}



